html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0; padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #e8edff;
  margin: 0% 10% 0%;

  background-color: #cc54a2;
}

* {
  box-sizing: border-box;
}

header  { 
  border: 1px solid red;
  position: fixed;
  z-index: 1;
  width: 80%;
  background-color: #2d2e2e;
}

main { 
  border: 1px solid red;
  margin: 0% 0% 0%;
  background-color: #2b2c2c;
}

footer {
  border: 1px solid red;
  background-color: #2d2e2e;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-link {
  position: relative;
  padding: 0 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: rgb(240, 171, 171);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Убираем стандартные маркеры: */
  list-style: none;
  /* Добавляем отступы между элементами списка: */
  padding: 0 40px;
  line-height: 50px;

  transition: .3s;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: calc(50% - 20px);
  margin: 0 0% 0;
  padding-left: 1em;
}

.section-title {
  /* margin-left: 1em; */
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #f73939;
}

.link {
  text-decoration: none;
  color: #db259e;
  transition: color 0.5s;
}

.link:hover {
  color: #db259e;
}


.section-item {
  position: relative;
  padding-left: 30px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px; 
  border: 1px solid #db259e;
  border-radius: 50%;
}

.section-profile {
  width: 100%;
  margin: 5em 0 0;
  display: flex;
  justify-content: space-around;
}

.section-profile-logo {
  z-index: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
  object-fit: cover;
  filter: grayscale(0.2) brightness(1.05);
  transition: .3s;
}

.contact-list{
  width: 50%;
}

.section-profile-title {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.footer {
  padding: 20px;
  color: #e8edff;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  
}

.rss {
  background-image: url(./assets/svg/rss.svg);
  width: 121px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }

  body {
    margin: 0;
  }
  .header {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .main {
    width: 132%;
    margin: 5em 0 0;
  }
  .footer {
    width: 132%;
  }
  .nav-link {
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    line-height: 50px;
    color: rgb(240, 171, 171);
  }
}